// buttons main styles

.btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-radius: 22px;
  padding: 6px 20px;
  min-width: 165px;
  text-decoration: none;
  color: $btnTxtColor;
  font-family: $franklin-medium;
  line-height: 2rem;
  @include font-size(16px);
  @include setBgColorAndHover($btnPrimaryBgColor);

  &--secondary {
    @include setBgColorAndHover($btnSecondaryBgColor);
  }

  &--tertiary {
    color: $btnTertiaryTxtColor;
    @include setBgColorAndHover($btnTertiaryBgColor);
  }

  &--on-dark {
    color: $btnOnDarkTxtColor;
    @include setBgColorAndHover($btnOnDarkBgColor);
  }

  &--disabled {
    opacity: .45;
    cursor: not-allowed;
  }

  &--lg {
    border-radius: 27px;
    padding: 11px 25px;
    min-width: 200px;
    @include font-size(18px);
  }

  &--sm {
    border-radius: 19px;
    padding: 3px 18px;
    min-width: 142px;
    @include font-size(15px);
  }

  &--thin {
    height: 28px;
    min-width: 0;
    padding: 0 12px;
    @include font-size(14px);
  }
}
