@font-face {
	font-family: 'ITCFranklinGothicStd-Med';
	src: url('ITCFranklinGothicStd-Med.woff') format('woff');
}

@font-face {
	font-family: 'ITCFranklinGothicStd-MdCd';
	src: url('ITCFranklinGothicStd-MdCd.woff') format('woff');
}

@font-face {
	font-family: 'ITCFranklinGothicStd-Demi';
	src: url('ITCFranklinGothicStd-Demi.woff') format('woff');
}

@font-face {
	font-family: 'ITCFranklinGothicStd-BookIt';
	src: url('ITCFranklinGothicStd-BookIt.woff') format('woff');
}

@font-face {
	font-family: 'ITCFranklinGothicStd-Book';
	src: url('ITCFranklinGothicStd-Book.woff') format('woff');
}

@font-face {
	font-family: 'Flood';
	src: url('Flood.woff') format('woff');
}
