/* px to rem convert */
@function calculateRem($size) {
  $remSize: $size / $remValue;
  @return #{$remSize}rem;
}
@mixin font-size($size) {
  font-size: calculateRem($size);
}

@mixin setBgColorAndHover($baseColor) {
  background-color: $baseColor;

  /* we use :not(.btn--disabled) to prevent hover and active states for disabled btn */
  &:not(.btn--disabled):active,
  &:not(.btn--disabled):hover {
    background-color: darken($baseColor, 10%);
  }
}

@mixin tablet {
  @media (min-width: #{$mobile + 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet + 1}) {
    @content;
  }
}
