// main reset

body {
  margin: 0;
  color: $baseFontColor;
  position: relative;
  background: $white;
  font: 400 1rem/1.44 $franklin-book;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}

img {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

b, strong {
  font-weight: 700;
}

aside,
nav,
footer,
header,
article,
section {
  display: block
}
