// colors named via Named via http://chir.ag/projects/name-that-color

// base colors
$primary: #034580;
$secondary: #eb174b;
$tertiary: #008fc5;

// accent colours (highlights and backgrounds)
$seaGreen: #2d9c49;
$disco: #731472;
$divie: #e99619;
$gold: #fad000;
$buddhaGold: #b9b309;
$paleOyster: #9a8c7e;

// typography and backgrounds
$scarpaFlow: #56565a;
$gray: #818181;
$alto: #dadada;
$gallery: #ededed;
$alabaster: #f7f7f7;
$white: #fff;
$lightGray: #f0f0f0;

// brand product colors
$artistry: #a29061;
$bodykey: #006325;
$espring: #adc5e6;
$home: #4e8e2c;
$nutrilite: #0b6527;
$satinique: #919295;
$truvivity: #87c3c4;

// common variables
$baseFontColor: $scarpaFlow;
$baseLinkColor: $primary;

// border variables
$borderPrimaryColor: $primary;
$borderSecondaryColor: $secondary;
$borderTertiaryColor: $tertiary;
$borderFouthColor: $scarpaFlow;

// button styles
$btnPrimaryBgColor: $primary;
$btnSecondaryBgColor: $tertiary;
$btnTertiaryBgColor: $alto;
$btnOnDarkBgColor: $white;
$btnTxtColor: $white;
$btnTertiaryTxtColor: $scarpaFlow;
$btnOnDarkTxtColor: $primary;

// forms styles
$basicInputColor: $alto;
$focusInputColor: $tertiary;
$successInputColor: $seaGreen;
$errorInputColor: $secondary;
$disabledInputColor: $alabaster;
$placeholderInputColor: $gray;
$textInputColor: $scarpaFlow;

// font styles
$flood: "Flood", sans-serif;
$franklin-book: "ITCFranklinGothicStd-Book", sans-serif;
$franklin-book-it: "ITCFranklinGothicStd-BookIt", sans-serif;
$franklin-medium: "ITCFranklinGothicStd-Med", sans-serif;
$franklin-medium-cd: "ITCFranklinGothicStd-MdCd", sans-serif;
$franklin-demi: "ITCFranklinGothicStd-Demi", sans-serif;

// footer styles
$footerDarkGrey: $gallery;
$footerGray: $alabaster;
$footerblue: $tertiary;
$chatOnline: $seaGreen;
$chatOffline: $secondary;
$footerChatButton: $primary;
$footerChatButtonBackground: $white;
$footerCrossColor: $secondary;

$remValue: 16px;
$globalVerticalMargin: 20px;
$globalBorderRadius: 3px;

$mobile           : 48em;       // 768px
$tablet           : 62em;       // 992px
$desktop          : 75em;       // 1200px
$large-desktop    : 118.75em;   // 1900 px
