.footer {
  background-color: $footerGray;

  &-toggle-list {
    border-bottom: 1px solid $footerDarkGrey;
    font-weight: bold;
    line-height: 30px;
    padding: 20px 23px;
  }
}

.footer-category {
  border-bottom: 1px solid $footerDarkGrey;
  font-weight: bold;
  line-height: 30px;
  margin: 0px;
  padding: 20px 0px 23px 0px;
  &:last-child {
    border-bottom: 0px;
  }
  &__label {
    margin: 0px;
  }
  &__open {
    fill: $footerCrossColor;
    float: right;
    @include font-size(30px);
    height: 36px;
    vertical-align: middle;
    width: 36px;
  }
  &__open:after {
    clear: both;
  }
}

.navigation-list {
  &--is-hiden {
    display: none;
  }

}

.footer-list {
  padding: 20px 23px 23px 0px;
  border-bottom: 1px solid $footerDarkGrey;
  &:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
  }
  &:before {
    content: initial;
  }
  &__link {
    color: $baseFontColor;
    &:link, &:hover, &:active  {
      text-decoration: none;
    }
  }
}
.footer-communication {
  border-top: 1px solid $footerDarkGrey;
  padding: 15px 20px 20px 15px;
  &__label {
    display: none;
  }
}

.footer-status {
  color: white;
  border-radius: 5px 0px 0px 5px;
  padding: 15px;
  background-color: $chatOnline;
  &__info {
    margin: 0px;
  }
  &__info:before {
    content: "\2022";

    @include font-size(50px);
    vertical-align: middle;
    line-height: 20px;
  }
}

.footer-video {
  display: none;
}

.communication-btn {
  background: $footerChatButtonBackground;
  border: 1px solid $footerDarkGrey;
  border-radius: 0px 5px 5px 0px;
  color: $footerChatButton;
  flex-grow: 1;
  @include font-size(16px);
  padding: 14px 10px;
  &__icon {
    background: $footerChatButtonBackground;
    fill: $footerChatButton;
    height: 30px;
    vertical-align: middle;
    width: 30px;
  }
}

.footer-disclimer {
  background-color: $footerDarkGrey;
  text-align: center;
  margin: 0px;
  padding: 15px 10px;
  &__info {
    margin: 0px;
  }
}

.footer-row {
  clear: both;
}

@media (min-width: 62em) {
  .footer-row {
    clear: none;
  }
  .navigation-list {
    display: block;
    padding-left: 0px;
  }

  .footer-category {
    border-bottom: 0px;
    &__open {
      display: none;
    }
  }
  .footer-list {
    border-bottom: 0px;
    font-weight: normal;
    padding: 0px;
    &__link {
      font-size: 14px;
      @include font-size(14px);
    }
  }
  .footer-status {
    border-radius: 5px 5px 0px 0px;
  }
  .communication-btn {
    border-radius: 0px;
  }
  .footer-video {

    display: block;
    &__youtube {
      height: 100px;
      width: 100%;
    }
    &__link {
      font-weight: bold;
    }
  }
}
