
.footer {
  //Newsletter section
  $topFooterBgColor: $tertiary;
  $topFooterTextColor: $white;
  $topFooterIconsBgColor: $white;
  $topFooterIconsTextColor: $primary;
  $topFooterFont: $franklin-medium-cd;
  $topFooterIconEmailColor: $alto;
  $footerDarkGrey: $gallery;
  $footerGray: $alabaster;
  $footerChatButtonBackground: $white;

  &__top {
    background: $topFooterBgColor;
    line-height: calculateRem(48px);
    padding-top: $globalVerticalMargin;
    padding-bottom: $globalVerticalMargin;
  }

  &__title {
    color: $topFooterTextColor;
    font-family: $topFooterFont;
    text-transform: uppercase;

    @include font-size(16px);

    @include desktop {
      padding-right: 10px;
    }
  }

  &__newsletter {
    margin-bottom: 0;

    @include desktop {
      display: flex;
      padding-right: 0;
    }

    .text-input {
      align-items: center;
      background: $white;
      border: 1px solid $basicInputColor;
      border-radius: $globalBorderRadius;
      display: flex;
      font-size: 1rem;
      line-height: 2rem;
      margin-bottom: 0;
      padding: 6px 10px;

      &__focus {
        border-width: 0;
        height: 32px;
        padding: 0 7px;
      }
    }
  }

  &__form {
    width: 100%;
    @include desktop {
      width: calc( 100% - 210px);
    }
  }

  &__btn-submit {
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
  }

  &__socialmedia {
    @include desktop {
      align-items: center;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__icons-list {
    @include desktop {
      align-items: center;
      display: flex;
    }
  }

  .icons-list__item {
    display: inline-block;
    padding: 0;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:before {
      content: "";
      height: 0;
      width: 0;
    }
  }

  .icons-list__item-a {
    text-decoration: none;

    .svg-icon {
      background: $topFooterIconsBgColor;
      border-radius: $globalBorderRadius;
      display: block;
      height: 34px;
      width: 34px;
    }
  }

  &__icon {
    &--email {
      fill: $topFooterIconEmailColor;
      height: 32px;
      width: 32px;
    }

    &--right-arrow {
      display: block;
      fill: $topFooterIconsTextColor;
      height: 32px;
      width: 19px;
    }

    &--youtube,
    &--twitter,
    &--instagram {
      fill: $topFooterIconsTextColor;
    }

    &--facebook {
      fill: $topFooterIconsBgColor;
      color: $topFooterIconsTextColor;
    }
  }

  // Body section


  background-color: $footerGray;

  &-toggle-list {
    border-bottom: 1px solid $footerDarkGrey;
    font-family: $franklin-medium-cd;
    padding: 20px 23px;
  }

  &__wrapper {
    padding: 0 10px 0 10px;
  }
  
  &-category {
    $footerDarkGrey: $gallery;
    $footerCrossColor: $secondary;
    border-bottom: 1px solid $footerDarkGrey;
    margin: 0;
    padding: 20px 0 20px 0;

    &:last-child {
      border-bottom: 0;
    }

    &__label {
      font-family: $franklin-medium-cd;
      margin: 0;
      text-transform: uppercase;
      &-hide {
        display: none;
      }
      &-open,
      &-minimize {
        fill: $footerCrossColor;
        float: right;
        height: 20px;
        width: 20px;
      }
    }

    &__open:after {
      clear: both;
    }
  }

  &-communication {
    $footerDarkGrey: $gallery;
    border-top: 1px solid $footerDarkGrey;
    padding: 15px 20px 20px 15px;

    &__label {
      display: none;
    }
  }

  &-status {
    $chatOnline: $seaGreen;
    $footerChatButtonBackground: $white;
    color: $footerChatButtonBackground;
    border-radius: 5px 0 0 5px;
    line-height: 0.5;
    padding: 17px 0 18px 0;
    background-color: $chatOnline;

    &__info {
      margin: 0;
    }

    &__info:before {
      content: "\2022";
      @include font-size(50px);
      vertical-align: middle;
    }
  }

  &-video {
    display: none;
  }

}

.navigation-list {
  $footerDarkGrey: $gallery;

  &--is-hiden {
    display: none;
  }

  &__item {
    &:before {
      content: initial;
    }

    border-bottom: 1px solid $footerDarkGrey;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }

    &-link {
      color: $baseFontColor;
      display: block;

      &:link,
      &:hover,
      &:active  {
        text-decoration: none;
      }
    }
    padding: 20px 23px 23px 0;
    width: 100%;
  }
}


.communication-btn {
  $footerDarkGrey: $gallery;
  $footerChatButton: $primary;
  $footerChatButtonBackground: $white;
  background: $footerChatButtonBackground;
  border: 1px solid $footerDarkGrey;
  border-radius: 0 5px 5px 0;
  color: $footerChatButton;
  cursor: pointer;
  flex-grow: 1;
  @include font-size(16px);
  padding: 14px 10px;
  text-decoration: none;
  text-align: center;

  &:link,
  &:hover,
  &:active  {
    text-decoration: none;
  }

  &__label {
    &-icon {
      background: $footerChatButtonBackground;
      fill: $footerChatButton;
      height: 30px;
      vertical-align: middle;
      width: 30px;
    }
  }
}

.footer-disclimer {
  $footerDarkGrey: $gallery;
  background-color: $footerDarkGrey;
  text-align: center;
  margin: 0;
  padding: 15px 10px;

  &__info {
    margin: 0;
    @include font-size(13px);
  }
}

.footer-row {
  clear: both;
}

@media (min-width: $tablet) {
  .footer-row {
    clear: none;
  }

  .footer-category {
    $footerDarkGrey: $gallery;
    border-bottom: 0;
    border-right: 1px solid $footerDarkGrey;

    &__label {
      padding-bottom: 15px;
      &-open,
      &-minimize {
        display: none;
      }
    }
  }

  .navigation-list {
    display: block;
    padding: 0 10px 10px 0;

    &__item {
      border-bottom: 0;
      padding: 0 10px 10px 0;
      font-weight: normal;
    }
  }

  .footer-list {
    border-bottom: 0;
    font-weight: normal;
    padding: 0;

    &__link {
      font-size: 14px;
      @include font-size(14px);
    }
  }

  .footer-status {
    border-radius: 5px 5px 0 0;
    line-height: 0.5;
    padding: 5px 0 5px 0;
  }

  .communication-btn {
    border-radius: 0;
    &__label {
      margin: 0;
      &-item {
        vertical-align: middle;
      }
    }
  }

  .footer-video {

    display: block;

    &__youtube {
      height: 100px;
      width: 100%;
    }

    &__link {
      font-family: $franklin-medium;
    }
  }
}
