@import "./../../base/variables";
@import "./../../base/mixins";

.my-lists {
  $root: &;
  $listWidth: 250px;
  $borderWidth: 1px;
  $borderRadius: 3px;
  $index: 1;
  $throttle: .25s;

  display: inline-block;
  @include font-size(14px);

  &__direct {
    display: inline-block;
    position: relative;
    z-index: $index + 1;
    border: $borderWidth solid transparent;
    border-radius: $borderRadius $borderRadius 0 0;
    padding: 6px;
    text-decoration: none;
    transition: border-color, $throttle, linear;
    transition-delay: $throttle;
    cursor: pointer;
    background: $white;

    #{$root}:hover & {
      border-color: $borderTertiaryColor $borderTertiaryColor transparent;
    }
  }

  &__icon,
  &__indicator {
    vertical-align: middle;
  }

  &__icon {
    width: 35px;
    height: 35px;
    fill: $gray;
  }

  &__indicator {
    width: 18px;
    height: 17px;
    fill: $secondary;
    transition: transform, $throttle, linear;
    transition-delay: $throttle;

    #{$root}:hover & {
      transform: rotate(180deg);
    }
  }

  &__container {
    min-width: $listWidth;
    position: absolute;
    // NOTE: To hide on mobile
    display: none;
    z-index: -1;
    top: 100%;
    right: 0;
    margin-top: -$borderWidth;
    border: $borderWidth solid $borderTertiaryColor;
    border-radius: $borderRadius 0 $borderRadius $borderRadius;
    padding: 15px;
    visibility: hidden;
    transition: visibility, $throttle, linear;
    transition-delay: $throttle;
    background: $white;

    #{$root}:hover & {
      visibility: visible;
      z-index: $index;
    }
  }

  &__section {
    padding-bottom: 18px;

    &:first-child {
      padding-bottom: 4px;
    }

    &:last-child {
      padding-top: 10px;
      padding-bottom: 0;
    }

    & ~ & {
      border-top: 1px solid $alto;
      padding-top: 15px;
    }
  }

  &__title {
    font-family: $franklin-medium-cd;
    text-transform: uppercase;
    color: $primary;
  }

  &__add {
    #{$root}--editable & {
      display: none;
    }
  }

  &__add-link {

    &::before {
      content: "+ ";
      display: inline;
      vertical-align: middle;
      @include font-size(24px);
      color: $secondary;
    }
  }

  &__create {
    display: none;

    #{$root}--editable & {
      display: block;
    }
  }

  @include tablet {
    position: relative;

    &__container {
      display: block;
    }
  }
}
