.footer {

  &__top {
    background: $topFooterBgColor;
    line-height: calculateRem(48px);
    padding-top: $globalVerticalMargin;
    padding-bottom: $globalVerticalMargin;
  }

  &__title {
    color: $topFooterTextColor;
    font-family: $topFooterFont;
    @include font-size(16px);

    @include desktop {
      padding-right: 10px;
    }
  }

  &__newsletter {
    margin-bottom: 0;
    @include desktop {
      display: flex;
      padding-right: 0;
    }

    .text-input {
      margin-bottom: 0;
      @include tablet {
        width: 350px;
      }
      @include desktop {
        //width: 100%;
        //min-width: 250px;
        //max-width: 350px;
        width: calc( 100% - 210px);
      }
    }


  }

  &__socialmedia {
    @include desktop {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__link {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    @include desktop {
      vertical-align: middle;
    }

    .svg-icon {
      background: $white;
      border-radius: 4px;
      display: block;
      fill: $topFooterIconsBgColor;
      height: 35px;
      width: 35px;
    }
  }
}
