$navIconColor: $secondary;
$navBorderColor: $gallery;
$navCategoryBgColor: $alabaster;
$navBaseColor: $primary;
$navFont: $franklin-medium-cd;

@mixin navItemCategory($color) {
  //item
  &:hover {
    border-left: 3px solid $color;

    .category-nav__item-a {
      padding-left: 42px;
    }

    .category-nav__item-div {
      opacity: 1;
    }
  }

  .category-nav__item-a {
    border-bottom: 1px solid $navCategoryBgColor;
    color: $color;
  }

  .sub-category-nav {
    color: $color;
  }

}

.nav {
  border-bottom: 1px solid $navBorderColor;
  border-top: 1px solid $navBorderColor;
}

.main-nav {
  display: flex;

  .icon-hamburger {
    fill: $navIconColor;
    height: 30px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 30px;
  }

  .icon-arrow-down {
    display: none;
    fill: $navIconColor;
    height: 30px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 30px;
  }

  &__item {
    $root: &;

    border-left: 1px solid $navBorderColor;
    margin: 0;
    //opacity: 0;
    padding: 0;
    position: relative;
    //transition: opacity .3s .1s;

    &-a {
      //border-top: 3px solid $white;
      display: inline-block;
      padding: 7px 30px 10px;
      position: relative;

      &:hover {
        //border-top-color: $navBaseColor;
        //box-sizing: border-box;
      }
    }

    &:first-child {
      #{$root}-a {
        padding-left: 10px;
      }
    }

    &:hover {
      #{$root}-a:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -1px;
        height: 3px;
        background: $navBaseColor;
      }
      .icon-hamburger {
        display: none;
      }

      .icon-arrow-down {
        display: inline;
      }
    }

    .category-nav {
      //display: block;
    }

    &:hover .icon-hamburger {
      display: none;
    }

    &:hover .icon-arrow-down {
      display: inline;
    }

    &:hover > .category-nav {
      display: block;
      opacity: 1;
    }
  }

  .category-nav {
    background-color: $white;
    border-bottom: 3px solid $navBorderColor;
    //display: none;
    left: -1px;
    //opacity: 0;
    padding: 0;
    position: absolute;
    transition: opacity .3s .1s;
    width: 195px;
    z-index: 1000;

    &__item {
      $root: &;

      border-left: 1px solid $navBorderColor;
      padding-left: 0;

      &:hover {
        background: $navCategoryBgColor;

        .category-nav__item-a {
          border-right: 1px solid $navCategoryBgColor;
        }

        .category-nav__item-div {
          //display: block;
          opacity: 1;
          //width: 500px;

        }
      }

      &-a {
        border-right: 1px solid $navBorderColor;
        display: block;
        padding-left: 44px;
      }

      &-div {
        background: $navCategoryBgColor;
        border-bottom: 3px solid $navBorderColor;
        box-sizing: border-box;
        //display: none;
        //display: block;
        //float: left;
        height: 203px;
        left: 192px;
        opacity: 0;
        padding: 0 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        transition: all .3s .1s;
        z-index: 1;
        //width: 0;
      }
    }

    .link-nutrition {
      @include navItemCategory($seaGreen);
    }

    .link-beauty {
      @include navItemCategory($tertiary);

      .category-nav__item-div {
        top: -50px;
      }
    }

    .link-personal-care {
      @include navItemCategory($gold);

      .category-nav__item-div {
        top: -100px;
      }
    }

    .link-home-life {
      @include navItemCategory($disco);

      .category-nav__item-div {
        top: -150px;
      }
    }
  }
}

.main-nav,
.category-nav {
  &__item {

    &:before {
      content: "";
      height: 0;
      width: 0;
    }

    &-a {
      font-family: $navFont;
      @include font-size(16px);
      height: 50px;
      line-height: calculateRem(30px);
      padding: 10px 30px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.sub-category-nav {
  font-family: $navFont;
  padding: 10px 0 0 0;
  width: 943px;

  &.list-2-col {
    column-count: 2;
  }

  &__title {
    @include font-size(16px);
    line-height: calculateRem(30px);
  }

  &__item {
    margin: 0;
    padding: 0;

    &:before {
      content: "";
      height: 0;
      width: 0;
    }

    &-a {
      @include font-size(14px);
      color: $scarpaFlow;
      height: 50px;
      line-height: calculateRem(25px);
      //padding: 10px 30px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: $navBaseColor;
      }
    }
  }
}
